.footer{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: black;
    color:rgb(255, 255, 255);
}

.footer__columna{
    width: 33%;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer__columna--titulo{
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.titulo--justificado-left{
    text-align: left;
    margin-left: 3.7em;
}

.titulo--justificado-center{
    text-align: center;
    margin-bottom: 1.3em;
}

.footer__columna--integrantes{
list-style-type: none;
line-height: 1.5em;
margin-top: 0.5em;
text-align: left;
margin-left: 2em;
font-size: 0.9em;
}

.footer__columna--menu{
    list-style-type: none;
    font-size: 1em;
    line-height: 1.7em;
}

.link-menu{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 0 0 1em rgb(255, 255, 255);
    }


.footer__columna--redes{
    display: flex;
    justify-content: center;
    margin-left: 3em;
    margin-right: 3em;
}


.icono-red-social{
    width: 10%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}



